.modal {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 19px;
  background-color: rgba(8, 8, 8, 0.5);
  z-index: 9999;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease, visibility 1s ease;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal__container {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  padding: 36px 36px 36.51px;
  margin: auto;
  width: 430px;
  height: 330px;
  box-sizing: border-box;
}

.modal__close {
  background: transparent url(../images/close.svg) no-repeat;
  border: none;
  position: absolute;
  top: -45px;
  right: -45px;
  height: 40px;
  width: 40px;
  background-size: contain;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.modal__close:hover {
  opacity: 0.6;
  transition-duration: 1.3s;
}

.modal__image {
  max-width: 75vw;
  max-height: 75vh;
  object-fit: contain;
  width: auto;
  height: auto;
}

.modal__image-content {
  max-width: 75vw;
  max-height: 75vh;
  margin: auto;
}

/*Override container for image modal*/
.modal_type_image .modal__container {
  margin: 0;
  padding: 0;
  background-color: transparent;
  width: auto;
  height: auto;
}

.modal_type_image .modal__close {
  z-index: 2;
  background-color: transparent;
}

.modal_type_image .modal__image-caption {
  position: absolute;
  bottom: -30px;
  left: 0;
  background-color: transparent;
  color: white;
  font-size: 12px;
  text-align: left;
  min-width: 100%;
  max-width: calc(75vw - 20px);
  word-wrap: break-word;
}

.modal__title {
  font-weight: 900;
  line-height: 1.2;
  font-size: 24px;
  margin: 0 0 54px 0;
  max-width: 330px;
  color: #000;
}

.modal__input {
  width: 100%; /* Make inputs full width of the container */
  height: 25px;
  margin-bottom: 30px;
  border: none;
  border-bottom: rgba(0, 0, 0, 0.2) solid 1px;
  font-weight: 400;
  line-height: 1.2;
  font-size: 14px;
  padding: 0;
}

.modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}

.modal_input:last-of-type {
  margin-bottom: 48px;
}

.modal__save-button {
  background-color: #000;
  color: #fff;
  width: 360px;
  height: 50px;
  padding: 15px 124px;
  border: none;
  border-radius: 2px;
}

.modal__save-button:hover {
  opacity: 0.8;
  transition-duration: 1.2s;
}

.modal__input::placeholder {
  color: #000;
}

@media screen and (max-width: 660px) {
  .modal__container {
    display: flex;
    flex-direction: column;
    width: 282px;
    height: 322px;
    padding: 25px 22px;
  }

  .modal__input {
    padding-bottom: 7px;
  }

  .modal__close {
    height: 26px;
    width: 26px;
    top: -40px;
    right: 10px;
    padding: 0px;
    position: absolute;
  }

  .modal__title {
    font-size: 18px;
    line-height: 1.2;
    max-width: 282px;
    margin-bottom: 75px;
  }

  .modal__save-button {
    width: 238px;
    height: 46px;
    padding: 15px 100px;
  }
  .modal__input:last-of-type {
    margin-bottom: 45px;
  }

  .modal_type_image .modal__close {
    top: -40px;
    right: -40px;
    height: 30px;
    width: 30px;
  }
  .modal__caption {
    width: 240px;
    height: 12px;
    font-size: 12px;
    margin: 10px 0 0 0;
    color: white;
  }
}
